.navbar {
  background-color: #d4e09b;
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  
}

.navbar__logo {
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25px;
  font-size: xx-large;
}

.navbar__logo__img{
  width: 117px;
  height: 98px;
  border-radius: 50%;
  
}

.navbar__routes {
  width: 60%;
  height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar__routes > li{
  list-style-type: none;
  flex: 1;
}